.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background: grey;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu__item {
  margin: 0 10px;
}
